<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="" href="styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>About Me</h1>
        </header>
        <section id="contact">
            <h2>Contact </h2>
            <ul>
                <li>Email: rajan33@example.com</li>
                <li>Phone: +1234567890</li>
            
            </ul>
        </section>
        <footer>
            <p>&copy; rajan</p>
        </footer>
    </div>
</body>
</html>
