<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Personal Portfolio</h1>
        </header>
        <section id="about">
            <h2>About Me</h2>
            <p>rajan.</p>
            <p>working in ictak</p>
            <p>hobbies are watching movies, playing games etc</p>
        </section>
        <footer>
            <p>&copy; rajan </p>
        </footer>
    </div>
</body>
</html>
